<nav class="navbar navbar-expand-lg bg-success navbar-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'reviews:index' %}">
      {% if request.user.is_authenticated %}
        📖
      {% else %}
        📚
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'reviews:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'articles:index' %}">Community</a>
        </li>
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:detail' request.user.pk %}">{{ request.user }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:signup'%}">회원가입</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
          </li>
        {% endif %}
        <!-- 서치바 -->
        <form class="nav-item form-inline my-2 my-lg-0 d-flex" style="position:sticky; top:70px; right:25px;" action="{% url 'search:searchResult' %}" method="get">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">SEARCH<i class="fas fa-search"></i>
          </button>
        </form>
        <!-- 서치바 -->
      </ul>
    </div>
  </div>
</nav>
