{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
{% endblock %}

{% block content %} 

<div class="header d-flex flex-column justify-content-center align-items-center">
  <h1 class="fs-1 fw-bolder text-white">Users</h1>
  {% comment %} {% if request.user.is_authenticated %}
  <a class="btn btn-primary my-3 float-right" href="{% url 'articles:create' %}">POST</a>
  {% endif %} {% endcomment %}
</div>

<div class="row">
  {% for user in users %}
  <div>
    
    <ol>
        <a href="{% url 'accounts:detail' user.pk %}">
        <ul>{{ user.username }}</ul>
        </a>
    </ol>
  </div>
  {% endfor %}
</div>

{% endblock %}